:root {
  --primary-color: #34912a;
  --secondary-color: #f9fbf7;
  --dark-color: #2f3234;
}
body {
  scroll-behavior: smooth;
  color: var(--secondary-color);
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}
a {
  color: var(--secondary-color);
  transition: transform 0.2s;
  text-decoration-color: var(--primary-color);
}
a:hover {
  text-decoration-color: var(--primary-color);
  transform: scale(1.1);
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
div {
  border: 1px;
  border-style: dashed;
  border-color: aqua;
}
h1 {
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: var(--secondary-color);
}
h2 {
  color: var(--secondary-color);
  text-decoration: underline var(--primary-color);
  font-size: 24px;
  padding-bottom: 8px;
  font-variant: small-caps;
}
sub {
  font-size: 16px;
  color: var(--secondary-color);
}

.button {
  font-size: 14px;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  padding: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  border-style: solid;
  border-width: 2px;
  text-decoration: underline;
  pointer-events: auto;
  transition: 500ms;
}
.btnPrimary {
  color: var(--secondary-color);
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.btnPrimary:hover {
  border-color: var(--secondary-color);
  background-color: #ffffff00;
  color: var(--secondary-color);
  text-decoration-color: var(--secondary-color);
}

.btnPrimaryOpposite {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: #ffffff00;
}

.btnPrimaryOpposite:hover {
  color: var(--secondary-color);
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  text-decoration-color: var(--secondary-color);
}

.sectionDark {
  background-color: var(--dark-color);
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.sectionbright {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.sectionContentBig {
  max-width: 970px;
  margin: auto;
  align-items: center;
  padding-left: 4vw;
  padding-right: 4vw;
}

.sectionContentSmall {
  max-width: 240px;
  margin: auto;
  align-items: center;
  padding-left: 4vw;
  padding-right: 4vw;
}

.heroSection {
  height: 100vh;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.726);
  display: flex;
  justify-content: center;
}
.navigation {
  background-color: var(--dark-color);
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 4vh;
}
.navigation a {
  color: var(--secondary-color);
  font-variant: small-caps;
  text-decoration: none;
  font-size: clamp(8px, 2vw, 16px);
  overflow-wrap: break-word;
  hyphens: auto;
}

.navigation a:hover {
  color: var(--primary-color);
  text-decoration-color: var(--primary-color);
  pointer-events: auto;
  transition: 500ms;
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutUsLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.aboutUsRight {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aboutUsRight img {
  box-sizing: border-box;
  width: 100%;
  padding-right: 8px;
}
.aboutUsRight div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hoursSection {
  background-image: url("./images/info.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.726);
}

.hoursSection td {
  width: 100%;
  text-align: right;
  white-space: nowrap;
}

.hoursSection td:first-child {
  text-align: left;
}

.contactSection {
  display: flex;
  flex-direction: column;
}
.contactLeft img {
  width: 100%;
}
.contactRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
}

.contactRight div {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) /*tablet*/ {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 80px;
  }
  sub {
    font-size: 20px;
  }
  .heroButton {
    border-width: 2px;
    padding: 16px;
  }
  .sectionDark {
    padding-top: 6vh;
    padding-bottom: 6vh;
  }
  .sectionbright {
    padding-top: 6vh;
    padding-bottom: 6vh;
  }
  .sectionContentBig {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) /*desktop*/ {
}
